{% extends 'MiTiempo/base.html' %}

{%block boton%}{%endblock%}

{% block content %}
	<style>
		fieldset{
			margin: auto;
			font-family: sans-serif;
			width: 450;
			align: center;
		}
	</style>

	<div class="content-box-green">
		<h1>{{user.titulo}}</h1>
	</div>

	{% if muni_not_found %}
		<div class="content-box-yellow">
			<ul><h2>
				<b>Municipio buscado: <u>{{mun}}</u> no encontrado.</b><br></br>
				<b><a href = "{{ username }}">Volver página de usuario</a></b>
			</h2></ul>
		</div>
	{% endif %}

	{% if request.user.username == username %}
		<div id = search_munis>
			<fieldset>
				<legend><h4><b>Buscar municipio: </b></h4></legend>
					<form action="{{ username }}" method="POST">
					{% csrf_token %}
					<label for="municipio"></label><input name="municipio" type="text">
					<button type="submit">Search</button>
				</form>
			</fieldset>
		</div>

		<div id = change_titulo>
			<fieldset>
				<legend><h4><b>Cambiar titulo página: </b></h4></legend>
					<form action="{{ username }}" method="POST">
						{% csrf_token %}
						<label for="titulo"></label><input name="titulo" type="text">
						<button type="submit">Change</button>
					</form>
			</fieldset>
		</div>

		<div id = "general">
			<div id="izq">
				<form action="{{ username }}" method="POST">
					{% csrf_token %}
					<h4><b>Color de fondo:</b></h4>
					<input type="radio" name="bgcolor" value=1 checked> Azul<br>
					<input type="radio" name="bgcolor" value=2 > Rojo<br>
					<input type="radio" name="bgcolor" value=3 > Lima<br>
					<input type="radio" name="bgcolor" value=4 > Imagen<br>
					<button type="submit">Aplicar</button>
				</form>
			</div>

			<div id="centro">
				<form action="{{ username }}" method="POST">
					{% csrf_token %}
					<h4><b>Color del texto:</b></h4>
					<input type="radio" name="cletras" value=1 checked> Negro<br>
					<input type="radio" name="cletras" value=2 > Azul Oscuro<br>
					<input type="radio" name="cletras" value=3 > Marron<br>
					<input type="radio" name="cletras" value=4 > Púrpura<br>
					<button type="submit">Aplicar</button>
				</form>
			</div>

			<div id="der">
				<form action="{{ username }}" method="POST">
					{% csrf_token %}
					<h4><b>Tamaño del texto:</b></h4>
					<input type="radio" name="tletras" value=1 checked> Pequeño<br>
					<input type="radio" name="tletras" value=2> Mediano<br>
					<input type="radio" name="tletras" value=3> Grande<br>
					<button type="submit">Aplicar</button>
				</form>
			</div>
		</div>
	{% endif %}

	{% if not muni_not_found %}
		<div class="content-box-blue">
		<h2><u><b> Municipios buscados: </b></u></h2>
			{% if vacio %}
				<h2> Aún no has buscado ningún municipio.</h2>
			{%else%}
				{% for m in municipios %}
					<li><b><a href="{{m.enlace}}" target="_blank"> {{m.nombre_municipio}} </a></b></li>
					<li><b><u>Altitud:</u></b> {{m.altitud}}</li>
					<li><b><u>Latitud:</u></b> {{m.latitud}}</li>
					<li><b><u>Longitud:</u></b> {{m.longitud}}</li>
					<li><b><u>Prob. precipitaion:</u></b> {{m.precipitaion}}</li>
					<li><b><u>Tª máxima:</u></b> {{m.tmax}}</li>
					<li><b><u>Tª mínima:</u></b> {{m.tmin}}</li>
					<li><b><u>Descripción:</u></b> {{m.descripcion}}</li>
					<li><b><a href="municipios/{{m.municipio_id}}"> Más información </a></b></li>
					{% if request.user.username == username %}
						<form action ='{{username}}' method="POST">
							{% csrf_token %}
							<label for="titulo"></label><input type = hidden name="quitar_muni" value="{{m.nombre_municipio}}" size='8' type="text">
							<button type="submit">Quitar</button>
						</form>
					{% endif %}
				{% endfor %}

			{%endif%}
		</div>
	{% endif %}


	<br></br>

{% endblock %}

{% block XML %}
	<li><a href="{{username}}?format=xml" target="_blank">Descarga como fichero XML</a></li>
{% endblock %}
